#home-content{
    border-bottom: 5px solid black;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#signature-dish{
    width: 100vw;
}
button{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    position: sticky;
}
button{
    border: 0;
    background-color: inherit;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}
#welcome-message{
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
#about-content{
    display: grid;
    grid-template: 40px 300px 60px / 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
iframe{
    justify-self: center;
    height: 80%;
    width: 80%;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
.big{
    font-size: 35px;
    margin: 0;
}
#about{
    font-size: 25px;
    justify-self: center;
    margin: 0;
    text-decoration: underline;
}
.small{
    margin: 0;
    font-size: 8px;
}
#end{
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.food{
    display: flex;
    gap: 10px;
}
.food > img{
    border-radius: 10px;
    margin-left: 20px;
}
#menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
input, textarea{
    width: 80vw;
    height: 20px;
}
.message{
    display: flex;
}
form > div{
    gap: 10px;
    display: flex;
}
#contact-us{
    border-top: 5px solid black;
    padding-top: 15px;
}
form > h1{
    text-decoration: underline;
}
form button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.food{
    align-items: center;
}
#menu{
    padding-bottom: 15px;
    border-bottom: 5px solid black;
}
#about-content{
    padding-top: 15px;
}
#menu h1{
    text-decoration: underline;
}